/*head style*/
/*head style*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6
{ font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
body{-webkit-font-smoothing: antialiased;}

.headernav{
  a{
    background-color:#222 !important;
    color:#999
  }
}
.dropdown-menu{
  background-color: #222;

}
.btn-default {
  color: #f5f5f5;
  background-color: #fff;
}
.dropdown-menu>li>a {
  color:#999 !important;
}
.dropdown-menu>li>a:hover {
  color:#fff
}
.nav a {
  position: relative;
  display: block;
  padding: 10px 25px;
  background-color: #222 !important;

}
.navTwo a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff !important;
  color:#222 !important;

}

.dropDown {
  padding: 10px 15px;
}

